.logo{
 text-align: center;
margin: -25px;
}
.title{
    font-size: 20px;
    font-weight: 1;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-top: 35px;
    text-align: center;
}
.subtitle{
    font-weight: 1;
    font-size: 14.5px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.barrabusqueda{
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.lupita{
  position: relative;
  bottom: 20px;
  left: 550px;
  border-style: none;
  background-color: black;
}
