.logo{
margin: -25px;
}
.TituloSubtitulo{
text-align: center;
}
.title{
    font-size: 20px;
    font-weight: 1;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-top: 35px;
}
#subtitle{
    font-weight: 1;
    font-size: 14.5px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
.barrabusqueda{
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  position: relative;
  left: 550px;
}
.lupita{
  position: relative;
  bottom: 20px;
  left: 550px;
  border-style: none;
  background-color: white;
}
