*{
  box-sizing: border-box;
}
.fondopantalla{
  background: rgb(35, 32, 54);
  background-size: 100%;
}
.logo{
  text-align: center;
  top:19px;
}
.title{
    font-size: 20px;
    font-weight: 1;
    font-family: 'Press Start 2P', cursive,Arial;
    text-align: center;
    position: relative;
    bottom: 20px;
    color:#fff;
}
.subtitle{
    font-weight: 1;
    font-size: 14.5px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: relative;
    bottom: 20px;
    color:#fff;
    
}
.barrabusqueda{
  border-style: solid;
  border-radius: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;
  bottom: 20px;
}
.lupita{
  position: relative;
  left: 130px;
  bottom: 45px;
  border-style: none;
}
.Notas{
    color: #fff;
    font-size: 25px;
}
.Notas h2{
  text-align:center;
  font-family: 'Open Sans', Arial;
  font-size: 35px;
  font-weight: bold
}
.NoticiasDestacadas{
  position: relative;
  bottom: 915px;
  top: 100px;
  left:25px;
  text-decoration: underline;
}
.NotasUno{
  text-align: center;
  position: relative;
  width: 500px;
  height: 166px;
  left: 700px;
  bottom: 50px;
}
.NotasDos{
  text-align: center;
  position: relative;
  width: 500px;
  height: 166px;
  left: 200px;
  bottom: 25px;
  
}
.discord{
  position: relative;
  left: 200px;
  top: 100px;
}
.piepagina{
  color: #fff;
}
.enlaces{
  font-style: italic;
  text-decoration: none;
  color: #AC463B;
}
.enlacesNoticias{
  font-size: 22px;
  font-style: italic;
  text-decoration: underline;
  color: #AC463B;
  position: relative;
  bottom: 100px;
  left:1200px;
}
a:hover{
  color: #ed8074;
}
.barrita{
  width:10px;
  height:10px;
  position:fixed;
  transition: .4s all ;
  
  z-index: 1;
}
.barrita ul{
  padding:0px;
  text-align: center;
 
}
.barrita li{
  font-size: 0px;
  transition:all .3s;
  list-style: none;
  color: white; 

}
.barrita a{
  text-decoration: none;
  font-weight: normal;
  transition: .3s all ;
  font-size: 0px;
  padding:0px;
}
.barrita h2{
  text-align: center;
  color:white;
  padding:7px;
  padding-bottom:7px;
  font-size:0px;
}
.barrita img{
  padding-top: 30px;
  padding-left: 10px;
}
.barrita:hover{
  width: 250px;
  height: 800px;
  background: rgb(20, 20, 27);
}
.barrita:hover h2{
  text-align: center;
  font-size: 35px;
}
.barrita:hover a{
  display: block;
  font-size: 20px;
  padding:15px;
}
.barrita:hover img{
  height:0px;
}
.barrita:hover li{
  font-size: 15px;
  border-top:1px solid white;
  width:100%;
}
.barrita:hover ul:last-of-type{
  border-bottom: 1px solid white;
}
.barrita:hover a:hover{ 
  font-size: 25px;
  padding: 15px 0px; 
  background: white;
}
.subir{
  position: fixed;
  bottom: 0%;
  right:0%;
}
.linea1{
    position: absolute;
    border-left: solid #fff;
    height:100%;
    left: 32.5%;
}
.linea2{
  position: absolute;
  border-left: solid #fff;
  height:100%;
  left: 67.5%;
}
.caja{
  position: relative;
  width: 1350px;
  height: 500px;
  left: 75px;
  background-image: url("Iconos/FondoPáginaPrincipal.jpg");
  background-size: 1350px 500px;
  background-repeat: no-repeat;
  margin-top: 15px;
}
.cajaDentroImagenNoticiaUno{
  position: absolute;
  height: 166px;
  bottom: 330px;
  left:5px;
  background-size: 400px 166px;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.cajaDentroImagenNoticiaUno:hover{
  opacity: 1;
}
.cajaDentroImagenNoticiaDos{
  position: absolute;
  width: 400px;
  height: 166px;
  bottom: 330px;
  left: 475px;
  background-size: 400px 166px;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.cajaDentroImagenNoticiaDos:hover{
  opacity: 1;
}
.cajaDentroImagenNoticiaTres{
  position: absolute;
  width: 400px;
  height: 166px;
  bottom: 330px;
  left: 950px;
  background-size: 400px 166px;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.cajaDentroImagenNoticiaTres:hover{
  opacity: 1;
}
.cajaNoticiaUno{
  width: 400px;
  position: absolute;
  top: 180px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', Arial;
  font-size: 13px;
}
.cajaNoticiaDos{
  width: 400px;
  position: absolute;
  top: 180px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', Arial;
  font-size: 13px;
}
.cajaNoticiaTres{
  width: 400px;
  position: absolute;
  top: 180px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', Arial;
  font-size: 13px;
}
.imagenLogo{
  position: relative;
  width:250px;
  left: 929px;
}
.imagenFondoPiePagina{
  position: relative;
  top:75px;
  height: 725px;
  width: 1620px;
}
.piepagina h2{
  position: absolute;
  font-size: 70px;
  font-family: 'Open Sans', Arial;
  font-weight: bold;
  top: 1575px;
  left: 625px;
}
.nombreContacto{
  position: absolute;
  top:1800px;
  left: 490px;
  width: 250px;
  height: 40px;
  background-color:#151441;
  color:#fff;
}
.correoContacto{
  position: absolute;
  top:1800px;
  left: 780px;
  width: 250px;
  height: 40px;
  background-color:#151441;
  color:#fff;
}
.mensajeContacto{
  position: absolute;
  top:1900px;
  left: 490px;
  width: 540px;
  height: 80px;
  background-color:#000123;
  color:#fff;
}
.enviarContacto{
  position: absolute;
  top:2025px;
  left: 675px;
  width: 175px;
  height: 35px;
  background-color:#151441;
  color:#fff;
  border-color: #151441;
}
.enviarContacto:hover{
  background-color: #53528d;
  cursor:pointer;
}
.YTLOGO{
position: absolute;
top:1800px;
left: 225px;
}
.IGLOGO{
  position: absolute;
  top:1915px;
  left: 225px;
}
.correoPiePagina{
  position: absolute;
  top: 2050px;
  left: 225px;
  font-size: 21px;
  font-family: 'Open Sans', Arial;
  color: #AC463B;;
  font-weight: bold;

}
.imagenPiePagina{
  position: absolute;
  top: 2065px;
  left: 1000px;
}
.IGS{
  position: absolute;
  top: 2150px;
  left: 400px;
  font-size: 20px;
}
