.title{
    font-size: 29px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
#subtitle{
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
.barrabusqueda{
  border-style: solid;
  border-radius: 10px;
}
.lupita{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}