.fondopantalla{
  background-image: url("Iconos/FondoPáginaPrincipal.jpg");
  background-size: 100%;
}
.logo{
 text-align: center;
margin: -25px;
}
.title{
    font-size: 20px;
    font-weight: 1;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: relative;
    bottom: 20px;
    color:#fff;
}
.subtitle{
    font-weight: 1;
    font-size: 14.5px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: relative;
    bottom: 20px;
    color:#fff;
    
}
.barrabusqueda{
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
}
.lupita{
  position: relative;
  right: 107px;
  bottom: 40px;
  border-style: none;
  background-color: #000;
}
.Notas{
    color: #fff;
}
.piepagina{
  color: #fff;
}
.enlaces{
  font-style: italic;
  text-decoration: none;
  color: #AC463B;
}
a:hover{
  color: #ed8074;
}