.indicadoresPaginas{
    position: relative;
    width: 1300px;
    left:100px;
}
.cajaNoticia{
    background-color: rgba(186, 205, 199, 0.7);
    height: 100px;
    cursor: pointer;
    width: 100px;
    border-radius: 50%;
    margin: 50px;
    float: left; 
}
.indicadorPagina{
    color: white;
    margin: 0;
    font-size: x-large;
}
.lineasIndicadorPagina{
    background: #FF5757;
    width: 100%;
    height: 5px;
}
.noticias{
    width: 100%;
    height: 100%;
    left:100px;
    top: 100px;
    overflow: hidden;
      
}
.cajaNoticia{
    height: 200px;
    cursor: pointer;
    width: 200px;
    border-radius: 50%;
    margin: 50px;
    float: left; 
}
.cajaNoticia figure{
    position:relative;
     height: 200px;
     cursor: pointer;
     width: 200px;
     overflow: hidden;
     border-radius: 50%;
     position: relative;
     right: 40px;
     bottom: 15px;
 }
 .cajaNoticia figure img{
    position: relative;
    justify-self: center;
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
     
 }
 .cajaNoticia figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,103,123,0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .cajaNoticia figure:hover  .capa {
     opacity: 1;
     visibility: visible;
 }
 .cajaNoticia figure:hover .capa h3{
     margin-top: 40px;
 }
 .cajaNoticia figure:hover img{
     transform: scale(1.3);
 }
 .cajaNoticia figure .capa h3{
     position: relative;
     color: #fff;
     font-size: 20px;
     top: 20%;
     transition: all 400ms ease-out;
    font-family: 'Play', sans-serif;
 }
 .siguientePagina{
    position: relative;
    left: 700px;
}
.anteriorPagina{
    position: relative;
    left: 700px;
}

