*{
    box-sizing: border-box;
  }
  .fondopantalla{
    background: rgb(35, 32, 54);
    background-size: 100%;
  }
  .logo{
    text-align: center;
    top:19px;
  }
  .title{
      font-size: 20px;
      font-weight: 1;
      font-family: 'Press Start 2P', cursive,Arial;
      text-align: center;
      position: relative;
      bottom: 20px;
      color:#fff;
  }
  .subtitle{
      font-weight: 1;
      font-size: 14.5px;
      font-family: 'Orbitron', sans-serif;
      font-family: 'Press Start 2P', cursive;
      text-align: center;
      position: relative;
      bottom: 20px;
      color:#fff;
      
  }
  .barrabusqueda{
    border-style: solid;
    border-radius: 10px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 30px;
    bottom: 20px;
  }
  .lupita{
    position: relative;
    left: 130px;
    bottom: 45px;
    border-style: none;
  }
  .barrita{
    width:10px;
    height:10px;
    position:fixed;
    transition: .4s all ;
    z-index: 1;
  }
  .barrita ul{
    padding:0px;
    text-align: center;
   
  }
  .barrita li{
    font-size: 0px;
    transition:all .3s;
    list-style: none;
    color: white; 
  
  }
  .barrita a{
    color:#fff;
    text-decoration: none;
    font-weight: normal;
    transition: .3s all ;
    font-size: 0px;
    padding:0px;
  }
  .barrita h2{
    text-align: center;
    color:white;
    padding:7px;
    padding-bottom:7px;
    font-size:0px;
  }
  .barrita img{
    padding-top: 30px;
    padding-left: 10px;
  }
  .barrita:hover{
    width: 250px;
    height: 800px;
    background: rgb(20, 20, 27);
  }
  .barrita:hover h2{
    text-align: center;
    font-size: 35px;
  }
  .barrita:hover a{
    display: block;
    font-size: 20px;
    padding:15px;
  }
  .barrita:hover img{
    height:0px;
  }
  .barrita:hover li{
    font-size: 15px;
    border-top:1px solid white;
    width:100%;
  }
  .barrita:hover ul:last-of-type{
    border-bottom: 1px solid white;
  }
  .barrita:hover a:hover{ 
    font-size: 25px;
    padding: 15px 0px; 
    background: rgb(35, 32, 54);
  }
  .subir{
    position: fixed;
    bottom: 0%;
    right:0%;
  }
.indicadoresPaginas{
    position: relative;
    width: 1300px;
    left:100px;
}
.cajaNoticia{
    background-color: rgba(186, 205, 199, 0.7);
    height: 100px;
    cursor: pointer;
    width: 100px;
    border-radius: 50%;
    margin: 50px;
    float: left; 
}
.indicadorPagina{
    color: white;
    margin: 0;
    font-size: x-large;
}
.lineasIndicadorPagina{
    background: #FF5757;
    width: 100%;
    height: 5px;
}
.noticias{
    width: 100%;
    height: 100%;
    left:100px;
    top: 100px;
    overflow: hidden;
      
}
.cajaNoticia{
    height: 200px;
    cursor: pointer;
    width: 200px;
    border-radius: 50%;
    margin: 50px;
    float: left; 
}
.cajaNoticia figure{
    position:relative;
     height: 200px;
     cursor: pointer;
     width: 200px;
     overflow: hidden;
     border-radius: 50%;
     position: relative;
     right: 40px;
     bottom: 15px;
 }
 .cajaNoticia figure img{
    position: relative;
    justify-self: center;
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
     
 }
 .cajaNoticia figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,103,123,0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .cajaNoticia figure:hover  .capa {
     opacity: 1;
     visibility: visible;
 }
 .cajaNoticia figure:hover .capa h3{
     margin-top: 40px;
 }
 .cajaNoticia figure:hover img{
     transform: scale(1.3);
 }
 .cajaNoticia figure .capa h3{
     position: relative;
     color: #fff;
     font-size: 20px;
     top: 20%;
     transition: all 400ms ease-out;
    font-family: 'Play', sans-serif;
 }
 .siguientePagina{
    position: relative;
    left: 700px;
}
.anteriorPagina{
    position: relative;
    left: 700px;
}
.footer{
    position:relative;
    overflow: hidden;
    width: 100%;
  }
  .imagenFondoPiePagina{
    position: relative;
    top:25px;
    width: 100%;
  }
  .piepagina{
    position: absolute;
    font-size: 70px;
    font-family: 'Open Sans', Arial;
    font-weight: bold;
    left: 200px;
    bottom: 30%;
    color: white;
  }
  .YTLOGO{
    position: absolute;
    left: 800px;
    bottom: 30%;

  }
  .IGLOGO{
    position: absolute;
    left: 600px;
    bottom: 30%;
  }
  .imagenPiePagina{
    position: absolute;
    left: 500px;
    bottom: 65%;
    width: 30%;
  }
  .IGS{  
    position: absolute;
    left: 525px;
    bottom: 15%;
    font-size: 20px;
  }
  .enlaces{
    font-style: italic;
    text-decoration: none;
    color: #AC463B;
  }
  .enlaces a:hover{
    color: #ed8074;
  }

